
.mg_menu__backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Añadido para tener un fondo semi-transparente */
    position: fixed;
    inset: 0;
    visibility: hidden; /* Por defecto, es oculto */
    opacity: 0; /* Por defecto, es transparente */
    transition: opacity .15s .2s, visibility .15s .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Asegúrate de que esté sobre otros elementos */
}

.mg_menu__backdrop.visible {
    visibility: visible; /* Cuando 'showCP' es true */
    opacity: 1; /* Cuando 'showCP' es true */
    background-color: transparent;
}

.menucolor {
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    transition: top .15s ease-in-out;    
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
}

/* Resto de tu CSS */
.mg_search {
    width: 200px;
    display: flex;
}

.mg_menulist_close_icon {
    font-size: 1.5rem;
}

.magnifying-glass_icon_menu {    
    font-size: 1.8rem;
    cursor: pointer;
}

/* *********************************************************** */
@media screen and (min-width: 1024px) {
    .mg_menu {
        display: none;
    } 
}

.container-cp {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 60px;
}

.color-picker {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.color-option {
    display: inline-block;
    cursor: pointer;
}

.color-option input {
    display: none;
}

.color-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.inner-circle {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
}

.selected-color {
    margin-top: 10px;
}