.mg_menu__backdrop {
    background-color: transparent;
    position: fixed;
    inset: 0;
    visibility: hidden;
    /* opacity: 0; */
    transition: all .15s .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
   

.menutext {            
    
    background-color: '#323232';
    position: absolute;
    width: 100%;        
    top: 0px;
    padding: 20px;        
    transition: top .15s ease-in-out;    
    z-index: 1;
}

/* .mg_row{
    display: flex;
    align-items: center;
    gap: 1rem;
} */


.mg_search{
    width: 200px;
    display: flex;
}

.mg_menulist_close_icon{
    font-size: 1.5rem;
    /* margin-left: auto; */
}

    


.magnifying-glass_icon_menu{    
    font-size: 1.8rem;
    cursor: pointer;
}



// .mg_menu-active {
//     .mg_menu__backdrop {
//         visibility: visible;
//         /* opacity: 1; */
//         transition: all .15s;

//         .mg_menulist {
//             top: 0px; /* esto es para que baje desde arriba la lupa */ 
//             transition: top .15s ease-in-out .1s;
//         }            
//     }
// }

/* @media screen and (min-width: 768px) {
    .mg_menu-active {
        .mg_menu__backdrop {            
            .mg_menulist {
                top: 200px;
                transition: top .15s ease-in-out .1s;

                .mg_search{
                    width: 350px;        
                }

            }                
        }
    }
    
    
} */


/* *********************************************************** */
@media screen and (min-width: 1024px) {
    .mg_menu{
        display: none;
    } 
}

.container-te {
    display: flex;
    gap: 16px;
    justify-content: center;
    
}

.color-picker {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
  
  .color-option {
    display: inline-block;
    cursor: pointer;
  }
  
  .color-option input {
    display: none;
  }
  
  .color-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  
  .inner-circle {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
  }
  
  .selected-color {
    margin-top: 10px;
    
    
  }